.btn{
    display: flex;
    align-items: center;
    gap: 5px;
    background: red;
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: 600;
    margin: 15px 0px;
}


.hero{
    background-image: url(./img/banner-background-one.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(-8%);
    }
    50% {
        transform: none;
    }
}
.up-down {
    animation: bounce 3s infinite;
}

.outline-text{
        -webkit-text-stroke: 1px white;
}